<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <title>Contact_Us</title>
    </head>
    <body>
        <h1>Calculate Body Mass Index</h1>
        <form action="http://localhost:3000/bmi-calculate" method="POST">
           Height:
           <input type ="number" name="height"/> <br>
           <br>
           Weight:
           <input type ="number" name="weight"/> <br>
           <br>
            <input type="Calculate" value="Ans"/>
        </form>
    </body>
</html>